<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/uikit.css"/>
    <link rel="stylesheet" href="/assets/styles/backgrounds.css"/>
    <link rel="stylesheet" href="/assets/styles/overrides.css"/>
</head>
<body>
<div class="uk-container uk-height-viewport uk-background-default uk-padding-remove">

    <!-- TOP BAR FOR COUPONS-->
    <div class="uk-padding-small bg-1">1</div>
    <!-- TOP BAR FOR COUPONS-->

    <!-- USER BAR -->
    <div class="uk-padding-small">2</div>
    <hr class="uk-margin-remove">
    <!-- USER BAR -->

    <!-- HEADER SECTION | LOGO | PHONE | SEARCH -->
    <div class="uk-child-width-expand@l uk-text-center uk-grid uk-grid-collapse">
        <div>
            1
        </div>
        <div>
            2
        </div>
        <div>
            3
        </div>
    </div>
    <!-- HEADER SECTION | LOGO | PHONE | SEARCH -->

    <!-- NAVIGATION SECTION -->
    <nav class="uk-navbar-container uk-navbar" uk-navbar="">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#" aria-expanded="false">Parent</a></li>
                <li><a href="#">Item</a></li>
            </ul>

        </div>

        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Active</a></li>
            </ul>

        </div>

    </nav>
    <!-- NAVIGATION SECTION -->

    <%- body %>

</div>
<script src="/assets/js/uikit.js"></script>
<script src="/assets/js/uikit-icons.js"></script>
</body>
</html>